# 系统提示词基础模板

## 角色定义 (Role)
{% block role %}{% endblock %}
## 环境描述 (Context)
{% block context %}{% endblock %}
## 任务内容 (Directive)
{% block Directive %}{% endblock %}
## 输出规范 (Output Format)
{% block Output %}{% endblock %}
## 规范要求 (Rules)

### 技术规范 (Tech_Rules)
{% block Tech_Rules %}{% endblock %}
### 通用规范 (Common_Rules)
{% block Common_Rules %}{% endblock %}
{% block extra %}{% endblock %}